.prd {
  position: relative;
  .discount {
    top: 30px;
    left: 27px;
  }
  .prd-link {
    width: 100%;
    .prd-img {
      width: 100%;
      height: 385px;
      object-fit: cover;
    }
  }
  .prd-body {
    margin-top: 16px;
    .prd-name {
      @include text-style(map-get($font-size, "md"), $weight-light);
      color: map-get($color, "black-b");
    }
    .prd-price {
      @include text-style(map-get($font-size, "xl"), $weight-regular);
      color: map-get($color, "black-b");
    }
  }
  .prd-price.prd-price-discount {
    position: relative;
    color: map-get($color, "red");
    &::after {
      content: attr(data-price);
      position: absolute;
      top: 50%;
      right: 0;
      transform: translateY(-50%);
      color: map-get($color, "gray-b");
    }
  }
}

@media only screen and(max-width: map-get($screen-size, 'xs')) {
  .prd {
    .discount {
      padding: 3px 5px;
      top: 14px;
      left: 9px;
      @include text-style(8px, $weight-bold);
      line-height: 1.5em;
      border-radius: 9px;
    }
    .prd-link {
      .prd-img {
        height: 227px;
      }
    }
    .prd-body {
      margin-top: 16px;
      .prd-name {
        @include text-style(map-get($font-size, "xs"), $weight-light);
      }
      .prd-price {
        @include text-style(map-get($font-size, "2xs"), $weight-regular);
      }
    }
  }
}
