.prd {
  position: relative;
  .prd-body {
    margin-top: 16px;
    .prd-name {
      @include styleText($font-size-md, $weight-light);
      color: #333333;
    }
    .prd-price {
      @include styleText($font-size-xl, $weight-regular);
      color: #333333;
    }
  }

  &.has-sale {
    &::after {
      content: attr(data-sale);
      position: absolute;
      padding: 6px 12px;
      top: 30px;
      left: 27px;
      @include styleText($font-size-xs, $weight-bold);
      color: #ffffff;
      background-color: #ff0000;
      border-radius: 20px;
    }
    .prd-price {
      position: relative;
      color: #ff0000;
      &::after {
        content: attr(data-price);
        position: absolute;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
        color: #cecece;
        text-decoration: line-through;
      }
    }
  }
}
