@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  outline: none;
  transition: all 0.4s; }

*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

ul {
  list-style: none; }

li:last-child {
  margin-right: 0 !important; }

a {
  display: inline-block;
  text-decoration: none;
  cursor: pointer; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 1rem; }

html {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-style: normal; }

* {
  line-height: 1.5em; }

body {
  position: relative; }

img {
  object-fit: cover; }

.container-fluid {
  max-width: 100%; }

.container {
  max-width: 72rem;
  margin: 0 auto; }

.txt-center {
  text-align: center; }

.d-none {
  display: none; }

@media only screen and (max-width: 575px) {
  .container {
    margin: 0 1.5rem; }
  .d-xs {
    display: flex; }
  .d-lg {
    display: none; } }

.row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -0.625rem; }

.col-1 {
  width: 8.33333%;
  padding: 0.625rem 0.625rem; }

.col-2 {
  width: 16.66667%;
  padding: 0.625rem 0.625rem; }

.col-3 {
  width: 25%;
  padding: 0.625rem 0.625rem; }

.col-4 {
  width: 33.33333%;
  padding: 0.625rem 0.625rem; }

.col-5 {
  width: 41.66667%;
  padding: 0.625rem 0.625rem; }

.col-6 {
  width: 50%;
  padding: 0.625rem 0.625rem; }

.col-7 {
  width: 58.33333%;
  padding: 0.625rem 0.625rem; }

.col-8 {
  width: 66.66667%;
  padding: 0.625rem 0.625rem; }

.col-9 {
  width: 75%;
  padding: 0.625rem 0.625rem; }

.col-10 {
  width: 83.33333%;
  padding: 0.625rem 0.625rem; }

.col-11 {
  width: 91.66667%;
  padding: 0.625rem 0.625rem; }

.col-12 {
  width: 100%;
  padding: 0.625rem 0.625rem; }

@media only screen and (max-width: 575px) {
  .col-xs-1 {
    width: 8.33333%;
    padding: 0.25rem 0.25rem; }
  .col-xs-2 {
    width: 16.66667%;
    padding: 0.25rem 0.25rem; }
  .col-xs-3 {
    width: 25%;
    padding: 0.25rem 0.25rem; }
  .col-xs-4 {
    width: 33.33333%;
    padding: 0.25rem 0.25rem; }
  .col-xs-5 {
    width: 41.66667%;
    padding: 0.25rem 0.25rem; }
  .col-xs-6 {
    width: 50%;
    padding: 0.25rem 0.25rem; }
  .col-xs-7 {
    width: 58.33333%;
    padding: 0.25rem 0.25rem; }
  .col-xs-8 {
    width: 66.66667%;
    padding: 0.25rem 0.25rem; }
  .col-xs-9 {
    width: 75%;
    padding: 0.25rem 0.25rem; }
  .col-xs-10 {
    width: 83.33333%;
    padding: 0.25rem 0.25rem; }
  .col-xs-11 {
    width: 91.66667%;
    padding: 0.25rem 0.25rem; }
  .col-xs-12 {
    width: 100%;
    padding: 0.25rem 0.25rem; } }

@media only screen and (max-width: 575px) {
  .row {
    margin: 0 -0.25rem; } }

.overlay-group {
  position: relative;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat; }
  .overlay-group::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 2; }
  .overlay-group .overlay {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: 3; }

.prd {
  position: relative; }
  .prd .discount {
    top: 1.875rem;
    left: 1.6875rem; }
  .prd .prd-link {
    width: 100%; }
    .prd .prd-link .prd-img {
      width: 100%;
      height: 24.0625rem;
      object-fit: cover; }
  .prd .prd-body {
    margin-top: 1rem; }
    .prd .prd-body .prd-name {
      font-size: 1rem;
      font-weight: 300;
      color: #333; }
    .prd .prd-body .prd-price {
      font-size: 1.25rem;
      font-weight: 400;
      color: #333; }
  .prd .prd-price.prd-price-discount {
    position: relative;
    color: #ff0000; }
    .prd .prd-price.prd-price-discount::after {
      content: attr(data-price);
      position: absolute;
      top: 50%;
      right: 0;
      transform: translateY(-50%);
      color: #cecece; }
  .prd .prd-action {
    display: none;
    position: absolute;
    top: 18.75rem;
    left: 50%;
    transform: translateX(-50%); }
    .prd .prd-action:hover {
      display: inline-block; }
  .prd .prd-img-group:hover ~ .prd-action {
    display: inline-block; }

@media only screen and (max-width: 575px) {
  .prd .discount {
    padding: 0.1875rem 0.3125rem;
    top: 0.875rem;
    left: 1.1875rem;
    font-size: 0.5rem;
    font-weight: 700;
    line-height: 1.5em;
    border-radius: 0.5625rem; }
  .prd .prd-link .prd-img {
    height: 14.1875rem; }
  .prd .prd-body {
    margin-top: 1rem; }
    .prd .prd-body .prd-name {
      font-size: 0.75rem;
      font-weight: 300; }
    .prd .prd-body .prd-price {
      font-size: 0.625rem;
      font-weight: 400; }
  .prd .prd-action {
    top: 11.25rem; } }

.cart-product .cart-product-img-container {
  margin-right: 1.25rem; }
  .cart-product .cart-product-img-container .cart-product-img {
    width: 7.5rem;
    height: 9.375rem;
    object-fit: cover; }

.cart-product .cart-product-body .cart-product-body-left .cart-product-name {
  font-size: 1.125rem;
  font-weight: 300;
  color: #000; }
  .cart-product .cart-product-body .cart-product-body-left .cart-product-name:hover {
    color: #fbb03b; }

.cart-product .cart-product-body .cart-product-body-right {
  display: flex;
  flex-direction: column;
  align-items: flex-end; }
  .cart-product .cart-product-body .cart-product-body-right .cart-product-price {
    font-size: 1.5rem;
    font-weight: 700;
    text-align: right;
    margin-bottom: 1rem; }
  .cart-product .cart-product-body .cart-product-body-right .cart-product-amount-group {
    margin-bottom: 1rem; }
    .cart-product .cart-product-body .cart-product-body-right .cart-product-amount-group button {
      font-size: 1rem;
      font-weight: 400;
      font-family: "Poppins", sans-serif;
      padding: 0.375rem 1rem;
      border: 1px solid #c4c4c4; }
    .cart-product .cart-product-body .cart-product-body-right .cart-product-amount-group input {
      font-size: 1rem;
      font-weight: 400;
      font-family: "Poppins", sans-serif;
      width: 3rem;
      padding: 0.375rem;
      text-align: center;
      border: 1px solid #c4c4c4; }

.btn {
  font-size: 0.8125rem;
  font-weight: 700;
  font-family: "Poppins", sans-serif;
  color: #000;
  border-radius: 2.0625rem;
  cursor: pointer; }
  .btn.btn-primary {
    padding: 0.875rem 1.125rem;
    background: #fff; }
    .btn.btn-primary:hover {
      color: #fff;
      background: #000; }
  .btn.btn-outline-primary {
    padding: 0.875rem 1.875rem;
    background: #fff;
    border: 1px solid #c4c4c4; }
    .btn.btn-outline-primary:hover {
      color: #fff;
      background: #000; }
  .btn.btn-secondary {
    padding: 0.875rem 3.5rem;
    background: #fbb03b; }
  .btn.btn-flat-primary {
    padding: 0.5rem 1rem;
    background: transparent;
    font-weight: 400; }
    .btn.btn-flat-primary:hover {
      color: #fbb03b; }

@media only screen and (max-width: 575px) {
  .btn {
    font-size: 0.625rem; }
    .btn.btn-primary {
      padding: 0.1875rem 0.625rem; }
    .btn.btn-outline-primary {
      padding: 0.1875rem 0.625rem;
      border: none; }
    .btn.btn-secondary {
      padding: 0.4375rem 1.25rem; } }

.discount {
  font-size: 0.75rem;
  font-weight: 700;
  position: absolute;
  padding: 0.375rem 0.75rem;
  line-height: 1.5em;
  color: #fff;
  background-color: #ff0000;
  border-radius: 1.25rem; }

@media only screen and (max-width: 575px) {
  .discount {
    font-size: 0.5rem;
    font-weight: 700;
    padding: 0.1875rem 0.3125rem;
    border-radius: 0.5625rem; } }

.flex, .fl-row, .fl-row-rev, .fl-column, .fl-center-x, .fl-center-y, .fl-space-between {
  display: flex; }

.fl-row {
  flex-direction: row; }

.fl-row-rev {
  flex-direction: row-reverse; }

.fl-column {
  flex-direction: column; }

.fl-center-x {
  justify-content: center; }

.fl-center-y {
  align-items: center; }

.fl-space-between {
  justify-content: space-between; }

.fl-1 {
  flex: 1; }

.fl-2 {
  flex: 2; }

.container-fluid {
  max-width: 100%; }

.container {
  max-width: 72rem;
  margin: 0 auto; }

.txt-center {
  text-align: center; }

.d-none {
  display: none !important; }

@media only screen and (max-width: 575px) {
  .container {
    margin: 0 1.5rem; }
  .d-xs {
    display: flex !important; }
  .d-lg {
    display: none !important; } }

header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  padding: 3.4375rem 0;
  background: transparent; }
  header .logo-image {
    width: 8.6875rem;
    height: 2.1875rem; }
  header .nav-main .nav-item {
    margin-right: 6rem; }
    header .nav-main .nav-item .nav-link {
      font-size: 1.125rem;
      font-weight: 700;
      padding: 0.25rem 0.5rem;
      color: #fbb03b; }
  header .nav-main .nav-item:last-child {
    margin-right: 0; }
  header .nav-sub .nav-item {
    margin-right: 1.5rem; }
    header .nav-sub .nav-item .nav-link {
      padding: 0.25rem; }
    header .nav-sub .nav-item .nav-icon {
      width: 1.5rem;
      height: 1.5rem; }

@media only screen and (max-width: 575px) {
  header {
    display: block;
    position: sticky;
    padding: 1.25rem 0;
    background: #fff; }
    header .logo-image {
      width: 8rem;
      height: 2rem; }
    header li {
      display: flex;
      justify-content: center;
      align-items: center; }
    header a {
      display: flex;
      justify-content: center;
      align-items: center; }
    header .header-sm {
      display: flex; }
    header .nav-sub .nav-item {
      cursor: pointer; }
      header .nav-sub .nav-item .nav-link {
        padding: 0; }
      header .nav-sub .nav-item .nav-icon {
        width: 1.25rem;
        height: 1.25rem; } }

footer {
  background-color: #fbb03b; }
  footer .section-body {
    padding: 2.5rem 0rem 3.25rem 0rem; }
  footer .section-footer {
    padding: 1.5rem 0;
    border-top: 1px solid #fff; }
    footer .section-footer p {
      font-size: 0.75rem;
      font-weight: 400;
      margin: auto 0;
      color: #fff; }

.body-left {
  max-width: 23.4375rem; }
  .body-left .footer-logo {
    width: 8.625rem;
    height: 2.1875rem; }
  .body-left .footer-title {
    font-size: 0.875rem;
    font-weight: 300;
    margin: 1.5rem 0rem 3.5rem 0rem;
    color: #fff; }

.social-item {
  margin-right: 2rem; }
  .social-item .social-icon {
    width: 1.125rem;
    height: 1.125rem;
    object-fit: fill; }

.nav-group {
  gap: 5.625rem; }
  .nav-group .nav-item .nav-item-title {
    font-size: 1rem;
    font-weight: 700;
    margin-bottom: 1.25rem;
    color: #fff; }
  .nav-group .nav-item li {
    margin-bottom: 1rem; }
    .nav-group .nav-item li p {
      font-size: 0.75rem;
      font-weight: 400;
      color: #fff; }

@media only screen and (max-width: 575px) {
  footer .section-body {
    flex-direction: column;
    padding-bottom: 2.5rem; }
  footer .body-left .footer-title {
    margin: 1.5rem 0rem 3rem 0rem; }
  footer .footer-social {
    display: none; }
  footer .nav-group {
    gap: 1.5rem;
    flex-direction: column; }
    footer .nav-group .nav-item .nav-item-title {
      font-size: 1rem;
      font-weight: 700;
      margin-bottom: 1.25rem;
      color: #fff; }
    footer .nav-group .nav-item li {
      margin-bottom: 1rem; }
      footer .nav-group .nav-item li p {
        font-size: 0.75rem;
        font-weight: 400;
        color: #fff; } }

.banner-section {
  position: relative;
  width: 100%;
  height: 50rem;
  z-index: 1;
  background-image: url("../images/main/banner.png"); }
  .banner-section::after {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.5) 100%); }
  .banner-section .section-body {
    margin: 13.875rem 6rem; }
    .banner-section .section-body .section-title {
      font-size: 4.5rem;
      font-weight: 700;
      margin-bottom: 1.5rem;
      max-width: 25.1875rem;
      line-height: 1em;
      color: #fff; }
      .banner-section .section-body .section-title .highlight {
        color: #fbb03b; }
    .banner-section .section-body .section-link .btn-cir {
      position: relative;
      width: 2.25rem;
      height: 2.25rem;
      border-radius: 50%;
      background-color: #fbb03b;
      margin-right: 1.3125rem; }
      .banner-section .section-body .section-link .btn-cir img {
        width: 1.0625rem;
        height: 0.875rem; }
    .banner-section .section-body .section-link span {
      font-size: 1.5rem;
      font-weight: 700;
      text-decoration: underline;
      color: #fff; }
  .banner-section .section-footer {
    position: absolute;
    padding: 2.375rem 0rem 1.625rem 0rem;
    width: 100%;
    bottom: 0;
    right: calc(50% - 36rem + 12.25rem);
    background: #fff;
    border-top-right-radius: 4.375rem; }
    .banner-section .section-footer .advantage-group {
      margin-right: 6.25rem;
      gap: 3.125rem; }

.advantage-horizontal {
  gap: 1rem; }
  .advantage-horizontal .advantage-icon {
    width: 2.25rem;
    height: 2.25rem;
    margin-bottom: 0.375rem;
    background: #fff3df;
    border-radius: 0.625rem; }
    .advantage-horizontal .advantage-icon img {
      width: 1rem;
      height: 1rem; }
  .advantage-horizontal .advantage-body {
    max-width: 11.1875rem; }
    .advantage-horizontal .advantage-body .advantage-title {
      font-size: 0.875rem;
      font-weight: 700;
      margin-bottom: 0.25rem;
      color: #333; }
    .advantage-horizontal .advantage-body .advantage-description {
      font-size: 0.75rem;
      font-weight: 400;
      padding-right: 0.0625rem;
      color: #a8a8a8; }

.news-section {
  padding: 2.375rem 0rem 1.25rem 0rem; }
  .news-section .news-group .news-wrap {
    height: 22.5rem; }
    .news-section .news-group .news-wrap-1 {
      background-image: url("../images/sample/news-1.png"); }
    .news-section .news-group .news-wrap-2 {
      background-image: url("../images/sample/news-2.png"); }
    .news-section .news-group .news-wrap-3 {
      background-image: url("../images/sample/news-3.png"); }

.news {
  padding: 10.4375rem 2.5rem 3.3125rem 2.5rem;
  position: relative; }
  .news .discount {
    font-size: 0.75rem;
    font-weight: 700;
    top: 8.125rem;
    left: 2.5rem; }
  .news .news-body {
    height: 100%; }
    .news .news-body .news-title {
      font-size: 1.5rem;
      font-weight: 400;
      height: 3em;
      margin-bottom: 1.125rem;
      color: #fff; }

.selected-section {
  padding: 2.5rem 0rem 2.5rem 0rem; }
  .selected-section .section-header {
    margin: 1.25rem 0rem 2.5rem 0rem; }
    .selected-section .section-header .section-title {
      font-size: 2rem;
      font-weight: 300; }
  .selected-section .section-body {
    position: relative; }
    .selected-section .section-body .section-link {
      position: absolute;
      top: -5.4375rem;
      right: 0; }

.advantage-section {
  padding: 2.5rem 0;
  background: #f7f7f7; }
  .advantage-section .section-header {
    margin-bottom: 2.5rem; }
    .advantage-section .section-header .section-title {
      font-size: 2rem;
      font-weight: 400; }
  .advantage-section .section-body .advantage-group {
    gap: 3.75rem; }
    .advantage-section .section-body .advantage-group .advantage:hover .advantage-title {
      color: #fbb03b; }

.advantage-vertical .advantage-icon {
  margin-bottom: 3rem;
  width: 4.25rem;
  height: 4.25rem;
  background: #fff;
  border-radius: 0.625rem; }
  .advantage-vertical .advantage-icon img {
    width: 2rem;
    height: 2rem;
    object-fit: fill; }

.advantage-vertical .advantage-body .advantage-title {
  font-size: 1rem;
  font-weight: 700;
  margin-bottom: 1rem; }

.advantage-vertical .advantage-body .advantage-description {
  font-size: 0.875rem;
  font-weight: 400;
  color: #808080; }

.today-section {
  padding: 2.5rem 0; }
  .today-section .section-header {
    margin-bottom: 2.5rem; }
    .today-section .section-header .section-title {
      font-size: 2rem;
      font-weight: 300; }

.newsletter-section {
  width: 100%;
  height: 15rem;
  background-image: url("../images/main/newsletter.png"); }
  .newsletter-section::after {
    background: linear-gradient(90deg, #000000 33.28%, rgba(0, 0, 0, 0) 94.05%);
    opacity: 0.7; }
  .newsletter-section .overlay {
    padding: 5.3125rem 0; }
  .newsletter-section .section-body-left .section-title {
    font-size: 1.5rem;
    font-weight: 400;
    color: #fff; }
  .newsletter-section .section-body-right input {
    font-size: 0.8125rem;
    font-weight: 400;
    padding: 0.875rem 1.5rem;
    width: 21.875rem;
    border-radius: 3.75rem;
    color: #ababab;
    background-color: #fff; }
    .newsletter-section .section-body-right input::placeholder {
      color: #ababab; }

@media only screen and (max-width: 575px) {
  .banner-section {
    height: 46.25rem;
    background-image: url("../images/main/banner-sm.png"); }
    .banner-section .container {
      height: 100%;
      display: flex;
      align-items: center; }
      .banner-section .container .section-body {
        margin: 0; }
        .banner-section .container .section-body .section-title {
          font-size: 3rem;
          font-weight: 700;
          margin-bottom: 1rem; }
        .banner-section .container .section-body .section-link .btn-cir {
          position: relative;
          width: 2rem;
          height: 2rem;
          margin-right: 1rem; }
          .banner-section .container .section-body .section-link .btn-cir img {
            width: 0.9375rem;
            height: 0.75rem; }
        .banner-section .container .section-body .section-link span {
          font-size: 0.875rem;
          font-weight: 700; }
    .banner-section .section-footer {
      display: none; }
  .news-section {
    padding: 1.25rem 0; }
    .news-section .news-group .news-wrap {
      height: 14rem; }
  .news {
    position: relative;
    padding: 8.75rem 1rem 3.3125rem 1rem; }
    .news .discount {
      font-size: 0.5rem;
      font-weight: 700;
      top: 7.5rem;
      left: 1rem; }
    .news .news-body .news-title {
      font-size: 0.875rem;
      font-weight: 400;
      margin-bottom: 0.375rem;
      max-width: 7.5rem; }
  .selected-section {
    padding: 0rem 0rem 3rem 0rem; }
    .selected-section .section-header {
      margin-bottom: 1rem; }
      .selected-section .section-header .section-title {
        font-size: 1.125rem;
        font-weight: 300; }
    .selected-section .section-body .section-link {
      top: -2.4375rem;
      right: 0; }
  .advantage-section {
    padding: 2.5rem 0;
    background: #f7f7f7; }
    .advantage-section .section-header {
      margin-bottom: 2.5rem; }
      .advantage-section .section-header .section-title {
        font-size: 1.125rem;
        font-weight: 300; }
    .advantage-section .section-body .advantage-group {
      flex-direction: column;
      gap: 0rem; }
  .advantage-vertical {
    display: flex; }
    .advantage-vertical .advantage-icon {
      margin-right: 1rem;
      width: 4.25rem;
      height: 4.25rem;
      background: #fff;
      border-radius: 0.625rem; }
      .advantage-vertical .advantage-icon img {
        width: 2rem;
        height: 2rem; }
    .advantage-vertical .advantage-body {
      flex: 1;
      padding-top: 0.5rem; }
      .advantage-vertical .advantage-body .advantage-title {
        font-size: 0.75rem;
        font-weight: 700;
        margin-bottom: 0.5rem; }
      .advantage-vertical .advantage-body .advantage-description {
        font-size: 0.625rem;
        font-weight: 400; }
  .today-section {
    padding: 3rem 0; }
    .today-section .section-header {
      margin-bottom: 1rem; }
      .today-section .section-header .section-title {
        font-size: 1.125rem;
        font-weight: 300;
        text-align: left; }
  .newsletter-section {
    width: 100%;
    height: 13.125rem;
    background-image: url("../images/main/newsletter-sm.png"); }
    .newsletter-section .overlay {
      padding: 1.5rem 0; }
    .newsletter-section .container {
      flex-direction: column;
      align-items: flex-start; }
    .newsletter-section .section-body-left .section-title {
      font-size: 0.875rem;
      font-weight: 400;
      max-width: 12.5rem;
      margin-bottom: 1.5rem; }
    .newsletter-section .section-body-right {
      width: 100%; }
      .newsletter-section .section-body-right .section-form {
        display: block; }
      .newsletter-section .section-body-right input {
        font-size: 0.75rem;
        font-weight: 400;
        padding: 0.375rem 0.75rem;
        margin-bottom: 1rem;
        width: 100%;
        font-family: "Poppins", sans-serif;
        border-radius: 3.75rem;
        color: #ababab;
        background-color: #fff; }
        .newsletter-section .section-body-right input::placeholder {
          color: #ababab; } }

.cart-section {
  min-height: 37.5rem;
  padding: 1.5rem;
  background: #f7f7f7; }
  .cart-section .section-header .section-title {
    font-size: 2rem;
    font-weight: 300; }
  .cart-section .section-body .section-body-left .cart-product-group {
    padding: 1.25rem;
    background: #fff;
    border-radius: 0.25rem; }
    .cart-section .section-body .section-body-left .cart-product-group .cart-product-item {
      padding: 1.25rem;
      margin-bottom: 1.25rem;
      box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2);
      border-radius: 0.25rem; }
  .cart-section .section-body .section-body-right .cart-total-price {
    margin-bottom: 1.5rem;
    padding: 1.25rem;
    background: #fff;
    border-radius: 0.25rem; }
    .cart-section .section-body .section-body-right .cart-total-price .total-price-txt {
      font-size: 1.5rem;
      font-weight: 700;
      margin-bottom: 1rem; }
    .cart-section .section-body .section-body-right .cart-total-price .total-price {
      font-size: 2rem;
      font-weight: 400;
      text-align: right; }
  .cart-section .section-body .section-body-right button {
    font-size: 1.125rem;
    font-weight: 700;
    display: block;
    width: 100%;
    border-radius: 4px; }
