@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  outline: none;
  transition: all 0.4s; }

*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

ul {
  list-style: none; }

li:last-child {
  margin-right: 0 !important; }

a {
  display: inline-block;
  text-decoration: none;
  cursor: pointer; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 1rem; }

html {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-style: normal; }

* {
  line-height: 1.5em; }

body {
  position: relative; }

img {
  object-fit: cover; }

.container-fluid {
  max-width: 100%; }

.container {
  max-width: 1152px;
  margin: 0 auto; }

.txt-center {
  text-align: center; }

.d-none {
  display: none; }

@media only screen and (max-width: 575px) {
  .container {
    margin: 0 24px; }
  .d-xs {
    display: flex; }
  .d-lg {
    display: none; } }

.row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -10px; }

.col-1 {
  width: 8.33333%;
  padding: 10px 10px; }

.col-2 {
  width: 16.66667%;
  padding: 10px 10px; }

.col-3 {
  width: 25%;
  padding: 10px 10px; }

.col-4 {
  width: 33.33333%;
  padding: 10px 10px; }

.col-5 {
  width: 41.66667%;
  padding: 10px 10px; }

.col-6 {
  width: 50%;
  padding: 10px 10px; }

.col-7 {
  width: 58.33333%;
  padding: 10px 10px; }

.col-8 {
  width: 66.66667%;
  padding: 10px 10px; }

.col-9 {
  width: 75%;
  padding: 10px 10px; }

.col-10 {
  width: 83.33333%;
  padding: 10px 10px; }

.col-11 {
  width: 91.66667%;
  padding: 10px 10px; }

.col-12 {
  width: 100%;
  padding: 10px 10px; }

@media only screen and (max-width: 575px) {
  .col-xs-1 {
    width: 8.33333%;
    padding: 4px 4px; }
  .col-xs-2 {
    width: 16.66667%;
    padding: 4px 4px; }
  .col-xs-3 {
    width: 25%;
    padding: 4px 4px; }
  .col-xs-4 {
    width: 33.33333%;
    padding: 4px 4px; }
  .col-xs-5 {
    width: 41.66667%;
    padding: 4px 4px; }
  .col-xs-6 {
    width: 50%;
    padding: 4px 4px; }
  .col-xs-7 {
    width: 58.33333%;
    padding: 4px 4px; }
  .col-xs-8 {
    width: 66.66667%;
    padding: 4px 4px; }
  .col-xs-9 {
    width: 75%;
    padding: 4px 4px; }
  .col-xs-10 {
    width: 83.33333%;
    padding: 4px 4px; }
  .col-xs-11 {
    width: 91.66667%;
    padding: 4px 4px; }
  .col-xs-12 {
    width: 100%;
    padding: 4px 4px; } }

@media only screen and (max-width: 575px) {
  .row {
    margin: 0 -4px; } }

.overlay-group {
  position: relative;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat; }
  .overlay-group::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 2; }
  .overlay-group .overlay {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: 3; }

.prd {
  position: relative; }
  .prd .discount {
    top: 30px;
    left: 27px; }
  .prd .prd-link {
    width: 100%; }
    .prd .prd-link .prd-img {
      width: 100%;
      height: 385px;
      object-fit: cover; }
  .prd .prd-body {
    margin-top: 16px; }
    .prd .prd-body .prd-name {
      font-size: 16px;
      font-weight: 300;
      color: #333; }
    .prd .prd-body .prd-price {
      font-size: 20px;
      font-weight: 400;
      color: #333; }
  .prd .prd-price.prd-price-discount {
    position: relative;
    color: #ff0000; }
    .prd .prd-price.prd-price-discount::after {
      content: attr(data-price);
      position: absolute;
      top: 50%;
      right: 0;
      transform: translateY(-50%);
      color: #cecece; }

@media only screen and (max-width: 575px) {
  .prd .discount {
    padding: 3px 5px;
    top: 14px;
    left: 9px;
    font-size: 8px;
    font-weight: 700;
    line-height: 1.5em;
    border-radius: 9px; }
  .prd .prd-link .prd-img {
    height: 227px; }
  .prd .prd-body {
    margin-top: 16px; }
    .prd .prd-body .prd-name {
      font-size: 12px;
      font-weight: 300; }
    .prd .prd-body .prd-price {
      font-size: 10px;
      font-weight: 400; } }

.btn {
  font-size: 13px;
  font-weight: 700;
  font-family: "Poppins", sans-serif;
  color: #000;
  border-radius: 33px;
  cursor: pointer; }
  .btn.btn-primary {
    padding: 14px 18px;
    background: #fff; }
    .btn.btn-primary:hover {
      color: #fff;
      background: #000; }
  .btn.btn-outline-primary {
    padding: 14px 30px;
    background: #fff;
    border: 1px solid #c4c4c4; }
    .btn.btn-outline-primary:hover {
      color: #fff;
      background: #000; }
  .btn.btn-secondary {
    padding: 14px 56px;
    background: #fbb03b; }

@media only screen and (max-width: 575px) {
  .btn {
    font-size: 10px; }
    .btn.btn-primary {
      padding: 3px 10px; }
    .btn.btn-outline-primary {
      padding: 3px 10px;
      border: none; }
    .btn.btn-secondary {
      padding: 7px 20px; } }

.discount {
  font-size: 12px;
  font-weight: 700;
  position: absolute;
  padding: 6px 12px;
  line-height: 1.5em;
  color: #fff;
  background-color: #ff0000;
  border-radius: 20px; }

@media only screen and (max-width: 575px) {
  .discount {
    font-size: 8px;
    font-weight: 700;
    padding: 3px 5px;
    border-radius: 9px; } }

.flex, .fl-row, .fl-row-rev, .fl-column, .fl-center-x, .fl-center-y, .fl-space-between {
  display: flex; }

.fl-row {
  flex-direction: row; }

.fl-row-rev {
  flex-direction: row-reverse; }

.fl-column {
  flex-direction: column; }

.fl-center-x {
  justify-content: center; }

.fl-center-y {
  align-items: center; }

.fl-space-between {
  justify-content: space-between; }

.fl-1 {
  flex: 1; }

.fl-2 {
  flex: 2; }

.container-fluid {
  max-width: 100%; }

.container {
  max-width: 1152px;
  margin: 0 auto; }

.txt-center {
  text-align: center; }

.d-none {
  display: none !important; }

@media only screen and (max-width: 575px) {
  .container {
    margin: 0 24px; }
  .d-xs {
    display: flex !important; }
  .d-lg {
    display: none !important; } }

header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  padding: 55px 0;
  background: transparent; }
  header .logo-image {
    width: 139px;
    height: 35px; }
  header .nav-main .nav-item {
    margin-right: 96px; }
    header .nav-main .nav-item .nav-link {
      font-size: 18px;
      font-weight: 700;
      padding: 4px 8px;
      color: #fbb03b; }
  header .nav-main .nav-item:last-child {
    margin-right: 0; }
  header .nav-sub .nav-item {
    margin-right: 24px; }
    header .nav-sub .nav-item .nav-link {
      padding: 4px; }
    header .nav-sub .nav-item .nav-icon {
      width: 24px;
      height: 24px; }

@media only screen and (max-width: 575px) {
  header {
    display: block;
    position: sticky;
    padding: 20px 0;
    background: #fff; }
    header .logo-image {
      width: 128px;
      height: 32px; }
    header li {
      display: flex;
      justify-content: center;
      align-items: center; }
    header a {
      display: flex;
      justify-content: center;
      align-items: center; }
    header .header-sm {
      display: flex; }
    header .nav-sub .nav-item {
      cursor: pointer; }
      header .nav-sub .nav-item .nav-link {
        padding: 0px; }
      header .nav-sub .nav-item .nav-icon {
        width: 20px;
        height: 20px; } }

footer {
  background-color: #fbb03b; }
  footer .section-body {
    padding: 40px 0 52px; }
  footer .section-footer {
    padding: 24px 0;
    border-top: 1px solid #fff; }
    footer .section-footer p {
      font-size: 12px;
      font-weight: 400;
      margin: auto 0;
      color: #fff; }

.body-left {
  max-width: 375px; }
  .body-left .footer-logo {
    width: 138px;
    height: 35px; }
  .body-left .footer-title {
    font-size: 14px;
    font-weight: 300;
    margin: 24px 0 56px;
    color: #fff; }

.social-item {
  margin-right: 32px; }
  .social-item .social-icon {
    width: 18px;
    height: 18px;
    object-fit: fill; }

.nav-group {
  gap: 90px; }
  .nav-group .nav-item .nav-item-title {
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 20px;
    color: #fff; }
  .nav-group .nav-item li {
    margin-bottom: 16px; }
    .nav-group .nav-item li p {
      font-size: 12px;
      font-weight: 400;
      color: #fff; }

@media only screen and (max-width: 575px) {
  footer .section-body {
    flex-direction: column;
    padding-bottom: 40px; }
  footer .body-left .footer-title {
    margin: 24px 0 48px; }
  footer .footer-social {
    display: none; }
  footer .nav-group {
    gap: 24px;
    flex-direction: column; }
    footer .nav-group .nav-item .nav-item-title {
      font-size: 16px;
      font-weight: 700;
      margin-bottom: 20px;
      color: #fff; }
    footer .nav-group .nav-item li {
      margin-bottom: 16px; }
      footer .nav-group .nav-item li p {
        font-size: 12px;
        font-weight: 400;
        color: #fff; } }

.banner-section {
  position: relative;
  width: 100%;
  height: 800px;
  z-index: 1;
  background-image: url("../images/main/banner.png"); }
  .banner-section::after {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.5) 100%); }
  .banner-section .section-body {
    margin: 222px 96px; }
    .banner-section .section-body .section-title {
      font-size: 72px;
      font-weight: 700;
      margin-bottom: 24px;
      max-width: 403px;
      line-height: 1em;
      color: #fff; }
      .banner-section .section-body .section-title .highlight {
        color: #fbb03b; }
    .banner-section .section-body .section-link .btn-cir {
      position: relative;
      width: 36px;
      height: 36px;
      border-radius: 50%;
      background-color: #fbb03b;
      margin-right: 21px; }
      .banner-section .section-body .section-link .btn-cir img {
        width: 17px;
        height: 14px; }
    .banner-section .section-body .section-link span {
      font-size: 24px;
      font-weight: 700;
      text-decoration: underline;
      color: #fff; }
  .banner-section .section-footer {
    position: absolute;
    padding: 38px 0 26px;
    width: 100%;
    bottom: 0;
    right: calc(50% - 576px + 196px);
    background: #fff;
    border-radius: 0px 70px 0px 0px; }
    .banner-section .section-footer .advantage-group {
      margin-right: 100px;
      gap: 50px; }

.advantage-horizontal {
  gap: 16px; }
  .advantage-horizontal .advantage-icon {
    width: 36px;
    height: 36px;
    margin-bottom: 6px;
    background: #fff3df;
    border-radius: 10px; }
    .advantage-horizontal .advantage-icon img {
      width: 16px;
      height: 16px; }
  .advantage-horizontal .advantage-body {
    max-width: 179px; }
    .advantage-horizontal .advantage-body .advantage-title {
      font-size: 14px;
      font-weight: 700;
      margin-bottom: 4px;
      color: #333; }
    .advantage-horizontal .advantage-body .advantage-description {
      font-size: 12px;
      font-weight: 400;
      padding-right: 1px;
      color: #a8a8a8; }

.news-section {
  padding: 38px 0 20px; }
  .news-section .news-group .news-wrap {
    height: 360px; }
    .news-section .news-group .news-wrap-1 {
      background-image: url("../images/sample/news-1.png"); }
    .news-section .news-group .news-wrap-2 {
      background-image: url("../images/sample/news-2.png"); }
    .news-section .news-group .news-wrap-3 {
      background-image: url("../images/sample/news-3.png"); }

.news {
  position: relative;
  padding: 167px 40px 53px; }
  .news .discount {
    font-size: 12px;
    font-weight: 700;
    top: 130px;
    left: 40px; }
  .news .news-body {
    height: 100%; }
    .news .news-body .news-title {
      font-size: 24px;
      font-weight: 400;
      height: 3em;
      margin-bottom: 18px;
      color: #fff; }

.selected-section {
  padding: 40px 0 40px; }
  .selected-section .section-header {
    margin: 20px 0 40px; }
    .selected-section .section-header .section-title {
      font-size: 32px;
      font-weight: 300; }
  .selected-section .section-body {
    position: relative; }
    .selected-section .section-body .section-link {
      position: absolute;
      top: -87px;
      right: 0; }

.advantage-section {
  padding: 40px 0;
  background: #f7f7f7; }
  .advantage-section .section-header {
    margin-bottom: 40px; }
    .advantage-section .section-header .section-title {
      font-size: 32px;
      font-weight: 400; }
  .advantage-section .section-body .advantage-group {
    gap: 60px; }
    .advantage-section .section-body .advantage-group .advantage:hover .advantage-title {
      color: #fbb03b; }

.advantage-vertical .advantage-icon {
  margin-bottom: 48px;
  width: 68px;
  height: 68px;
  background: #fff;
  border-radius: 10px; }
  .advantage-vertical .advantage-icon img {
    width: 32px;
    height: 32px;
    object-fit: fill; }

.advantage-vertical .advantage-body .advantage-title {
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 16px; }

.advantage-vertical .advantage-body .advantage-description {
  font-size: 14px;
  font-weight: 400;
  color: #808080; }

.today-section {
  padding: 40px 0; }
  .today-section .section-header {
    margin-bottom: 40px; }
    .today-section .section-header .section-title {
      font-size: 32px;
      font-weight: 300; }

.newsletter-section {
  width: 100%;
  height: 240px;
  background-image: url("../images/main/newsletter.png"); }
  .newsletter-section::after {
    background: linear-gradient(90deg, #000000 33.28%, rgba(0, 0, 0, 0) 94.05%);
    opacity: 0.7; }
  .newsletter-section .overlay {
    padding: 85px 0; }
  .newsletter-section .section-body-left .section-title {
    font-size: 24px;
    font-weight: 400;
    color: #fff; }
  .newsletter-section .section-body-right input {
    font-size: 13px;
    font-weight: 400;
    padding: 14px 24px;
    width: 350px;
    border-radius: 60px;
    color: #ababab;
    background-color: #fff; }
    .newsletter-section .section-body-right input::placeholder {
      color: #ababab; }

@media only screen and (max-width: 575px) {
  .banner-section {
    height: 740px;
    background-image: url("../images/main/banner-sm.png"); }
    .banner-section .container {
      height: 100%;
      display: flex;
      align-items: center; }
      .banner-section .container .section-body {
        margin: 0; }
        .banner-section .container .section-body .section-title {
          font-size: 48px;
          font-weight: 700;
          margin-bottom: 16px; }
        .banner-section .container .section-body .section-link .btn-cir {
          position: relative;
          width: 32px;
          height: 32px;
          margin-right: 16px; }
          .banner-section .container .section-body .section-link .btn-cir img {
            width: 15px;
            height: 12px; }
        .banner-section .container .section-body .section-link span {
          font-size: 14px;
          font-weight: 700; }
    .banner-section .section-footer {
      display: none; }
  .news-section {
    padding: 20px 0; }
    .news-section .news-group .news-wrap {
      height: 224px; }
  .news {
    position: relative;
    padding: 140px 16px 53px; }
    .news .discount {
      font-size: 8px;
      font-weight: 700;
      top: 120px;
      left: 16px; }
    .news .news-body .news-title {
      font-size: 14px;
      font-weight: 400;
      margin-bottom: 6px;
      max-width: 120px; }
  .selected-section {
    padding: 0 0 48px; }
    .selected-section .section-header {
      margin-bottom: 16px; }
      .selected-section .section-header .section-title {
        font-size: 18px;
        font-weight: 300; }
    .selected-section .section-body .section-link {
      top: -39px;
      right: 0; }
  .advantage-section {
    padding: 40px 0;
    background: #f7f7f7; }
    .advantage-section .section-header {
      margin-bottom: 40px; }
      .advantage-section .section-header .section-title {
        font-size: 18px;
        font-weight: 300; }
    .advantage-section .section-body .advantage-group {
      flex-direction: column;
      gap: 60px; }
  .advantage-vertical {
    display: flex; }
    .advantage-vertical .advantage-icon {
      margin-right: 16px;
      width: 68px;
      height: 68px;
      background: #fff;
      border-radius: 10px; }
      .advantage-vertical .advantage-icon img {
        width: 32px;
        height: 32px; }
    .advantage-vertical .advantage-body {
      flex: 1;
      padding-top: 8px; }
      .advantage-vertical .advantage-body .advantage-title {
        font-size: 12px;
        font-weight: 700;
        margin-bottom: 8px; }
      .advantage-vertical .advantage-body .advantage-description {
        font-size: 10px;
        font-weight: 400; }
  .today-section {
    padding: 48px 0; }
    .today-section .section-header {
      margin-bottom: 16px; }
      .today-section .section-header .section-title {
        font-size: 18px;
        font-weight: 300;
        text-align: left; }
  .newsletter-section {
    width: 100%;
    height: 210px;
    background-image: url("../images/main/newsletter-sm.png"); }
    .newsletter-section .overlay {
      padding: 24px 0; }
    .newsletter-section .container {
      flex-direction: column;
      align-items: flex-start; }
    .newsletter-section .section-body-left .section-title {
      font-size: 14px;
      font-weight: 400;
      max-width: 200px;
      margin-bottom: 24px; }
    .newsletter-section .section-body-right {
      width: 100%; }
      .newsletter-section .section-body-right .section-form {
        display: block; }
      .newsletter-section .section-body-right input {
        font-size: 12px;
        font-weight: 400;
        padding: 6px 12px;
        margin-bottom: 16px;
        width: 100%;
        font-family: "Poppins", sans-serif;
        border-radius: 60px;
        color: #ababab;
        background-color: #fff; }
        .newsletter-section .section-body-right input::placeholder {
          color: #ababab; } }
