.discount {
  @include text-style(map-get($font-size, "xs"), $weight-bold);
  @include pxRem(padding, 6 12);
  position: absolute;
  line-height: 1.5em;
  color: map-get($color, "white");
  background-color: map-get($color, "red");
  border-radius: to-rem(20);
}

@media only screen and(max-width: map-get($screen-size, 'xs')) {
  .discount {
    @include text-style(map-get($font-size, "3xs"), $weight-bold);
    @include pxRem(padding, 3 5);
    border-radius: to-rem(9);
  }
}
