.article {
  @include pxRem(max-width, 600);
  @include pxRem(margin, 20 auto);
  @include pxRem(padding, 10);
  @include pxRem(border-radius, 8);
  background: map-get($color, 'white');
  .img-wrapper {
    @include pxRem(margin-right, 10);
    width: 100%;
    overflow: hidden;
  }
  .img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .body {
    @include pxRem(padding, 10 0);
    flex: 1;
  }
  .category {
    @include pxRem(margin-bottom, 10);
    @include txtStyle(map-get($font-size, 'sm'), map-get($font-weight, 'bold'));
    display: block;
    color: map-get($color, 'red');
  }
  .title {
    @include pxRem(margin-bottom, 10);
    @include txtStyle(map-get($font-size, 'lg'), map-get($font-weight, 'bold'));
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    word-wrap: break-word;
  }
  .desc {
    @include pxRem(margin-bottom, 16);
    @include txtStyle(map-get($font-size, 'sm'), map-get($font-weight, 'regular'));
    overflow: hidden;
    text-overflow: ellipsis;
    word-wrap: break-word;
    color: map-get($color, 'gray-c');
  }
  .footer {
    @include txtStyle(map-get($font-size, '2xs'), map-get($font-weight, 'light'));
    color: map-get($color, 'gray-b');
    span {
      @include pxRem(margin-right, 16);
    }
    strong {
      color: map-get($color, 'black-a');
    }
  }
}
