html {
  font-size: #{$size-base}px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', san-serif;
}

* {
  line-height: 1.5em;
}

body {
  background: map-get($color, gray-a);
}

a {
  color: map-get($color, black-a);
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
