@function strip-units($number) {
  @return $number / ($number * 0 + 1);
}

@function convertPxToRem($px) {
  @return 0rem + strip-units($px) / $size-base;
}

@mixin pxRem($property, $values) {
  // Create a couple of empty lists as output buffers:
  $px-values: ();
  $rem-values: ();
  // Ensure $values is a list.
  @if type-of($values) != 'list' {
    $values: join((), $values);
  }
  // Loop through the $values list:
  @each $value in $values {
    @if type-of($value) == number and (unitless($value) or unit($value) == px) {
      $px-values: join($px-values, 0px + ($value));
      $rem-values: join($rem-values, convertPxToRem($value));
    } @else {
      // no conversion:
      $px-values: join($px-values, $value);
      $rem-values: join($rem-values, $value);
    }
  }
  #{$property}: $px-values;
  // don't add media query if it's not needed:
  @if $px-values != $rem-values {
    // @media only all {
    #{$property}: $rem-values;
    // }
  }
}

@mixin txtStyle($font-size, $font-weight) {
  @include pxRem(font-size, $font-size);
  font-weight: $font-weight;
}
