* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  transition: all 0.4s;
  border: none;
}

*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

li:last-child {
  margin-right: 0 !important;
}

a {
  text-decoration: none;
  cursor: pointer;
}

html {
  font-size: 16px;
}

.flex {
  display: flex !important;
}
.hide {
  display: none !important;
}
.row {
  flex-direction: row !important;
}
.col {
  flex-direction: column !important;
}
.space-between {
  justify-content: space-between !important;
}

.left {
  left: 0 !important;
}

.right {
  right: 0 !important;
}
.center {
  justify-content: center !important;
  align-items: center !important;
}

.relative {
  position: relative !important;
}

.mr-0 {
  margin-right: 0 !important;
}

.mr-20 {
  margin-right: 20px !important;
}

.flex-end {
  justify-content: flex-end;
}

.content-center {
  justify-content: center;
}

.tag {
  padding: 4px 6px;
  border-radius: 4px;
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  text-align: center;
  justify-content: center;
  align-items: center;
  align-content: center;
  line-height: 16px;
  display: block;
}

.tag-success {
  background: #ecf7ed;
  color: #37833b;
}

.tag-danger {
  background: #fdedf2;
  color: #c23564;
}

.btn {
  padding: 8px 18px;
  border-radius: 4px;
  cursor: pointer;
}

.btn:hover {
  box-shadow: 0px 4px 8px rgba(90, 91, 106, 0.2);
}

.btn-primary {
  background-color: #2264d1;
  color: #ffffff;
}

.btn-primary:hover {
  background-color: #1456be;
}

.btn-flat-primary {
  color: #2264d1;
}

.btn-outline-primary:hover {
  background-color: #2264d1;
  color: #ffffff;
}

.btn-outline-primary {
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-weight: 500;
  background: #ffffff;
  border: 1px solid #9dc2ff;
  border-radius: 4px;
  line-height: 1.5;
  color: #2264d1;
}

header {
  border-bottom: 1px solid #b4bbe2;
  margin-bottom: 24px;
  background: #ffffff;
}

h1 {
  align-items: center;
}

.container {
  max-width: 1120px;
  width: 100%;
  margin: 0 auto;
}

.banner img {
  width: 100%;
}

input.toggle-menu {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 2;
  opacity: 0;
  cursor: pointer;
}

.menu {
  pointer-events: none;
  visibility: hidden;
  opacity: 0;
  display: block;
  position: absolute;
  width: 353px;
  top: 89px;
  right: 20px;
  background: #ffffff;
  box-shadow: 0px 4px 8px rgba(90, 91, 106, 0.2);
  z-index: 3;
}

.nav-item {
  padding: 8px 16px;
  align-items: center;
}

.nav-item:hover {
  box-shadow: inset 0px 4px 8px rgba(90, 91, 106, 0.2);
}

.nav-item div {
  align-items: center;
  padding: 12px 10px;
}

.nav-item img {
  width: 20px;
  margin-right: 24px;
}

.nav-item span {
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.5;
  color: #787885;
}

.nav-item:hover span {
  color: #2264d1;
  font-size: 14px;
}

input.toggle-menu:checked ~ .menu {
  opacity: 1;
  visibility: visible;
  pointer-events: visible;
}

.hamburger {
  margin-right: 20px;
  z-index: 1;
}

.hamburger-line {
  width: 32px;
  height: 3px;
  background-color: #2264d1;
  position: relative;
  border-radius: 2px;
}

.hamburger-line::before,
.hamburger-line::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #2264d1;
  border-radius: 2px;
}

.hamburger-line::before {
  top: -10px;
}

.hamburger-line::after {
  bottom: -10px;
}

input.toggle-menu:checked ~ .hamburger > .hamburger-line {
  transform: rotate(225deg);
}

input.toggle-menu:checked ~ .hamburger > .hamburger-line::before {
  top: 0;
  transform: rotate(270deg);
}

input.toggle-menu:checked ~ .hamburger > .hamburger-line::after {
  top: 0;
}

.search-container {
  position: relative;
  justify-content: center;
  align-items: center;
}

.search-icon {
  position: absolute;
  width: 18px;
  height: 18px;
  margin: 0 13px;
}
.search-icon-clear {
  opacity: 0;
}

.search-input {
  width: 100%;
  max-width: 400px;
  height: 48px;
  border-radius: 100px;
  border: 1px solid #ededf0;
  padding: 0 44px;
  font-family: "Inter", sans-serif;
  font-size: 20px;
  color: #9696a0;
  background: #ededf0;
}

.search-input:focus {
  box-shadow: 0px 4px 8px rgba(90, 91, 106, 0.2);
}

.search-input:valid ~ .search-icon-clear {
  opacity: 1;
}

.nav-sub li {
  margin-right: 12px;
  font-size: 20px;
  font-family: "Quicksand", sans-serif;
  font-weight: 700;
}

.cart-icon {
  width: 32px;
  height: 32px;
}

.cart-icon + span {
  position: absolute;
  top: -15px;
  right: -8px;
  width: 18px;
  height: 18px;
  background-color: #ef0909;
  border-radius: 50%;
  color: #ffffff;
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-weight: 700;
  display: inline-block;
  text-align: center;
}

.product-action {
  margin: 20px 0;
}

section.product {
  margin-top: 20px;
  margin-bottom: 100px;
}

select {
  appearance: none;
  margin-right: 10px;
  padding: 8px 32px 8px 12px;
  border-radius: 4px;
  border: 1px solid #b4b4bb;
  color: #787885;
  font-family: "Inter", sans-serif;
  font-size: 14px;
  line-height: 1.5;
}

select:hover {
  color: #19191d;
  border: 1px solid #5a5b6a;
  box-shadow: 0px 4px 8px rgba(90, 91, 106, 0.2);
}

.select-sortby {
  position: relative;
}

.select-sortby span {
  position: absolute;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 10px;
  top: -5px;
  left: 10px;
  z-index: 1;
  background: #ffffff;
  letter-spacing: 1.5px;
  color: #787885;
}

.product-control-right {
  justify-content: center;
  align-items: center;
}

.product-control-right li {
  background: #ebf2ff;
  border-radius: 4px;
  padding: 12px 16px;
  color: #5a5b6a;
  font-family: "Inter", sans-serif;
  font-size: 14px;
  text-align: center;
}

.product-control-right li:hover {
  box-shadow: 0px 4px 8px rgba(90, 91, 106, 0.2);
}

.product-control-right li.active {
  background: #ffffff;
  color: #2264d1;
  box-shadow: 0px 4px 8px rgba(90, 91, 106, 0.2);
}

.view-option > img {
  width: 16px;
  height: 16px;
}

.products-container {
  width: 100%;
  max-width: 1160px;
  margin: 0 auto 120px;
  padding: 10px;
}

.product-list {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, auto);
  /* grid-template-rows: repeat(3, auto); */
  gap: 10px;
  justify-items: center;
}

.product-item {
  width: 267px;
  padding: 16px 16px 12px 16px;
  font-family: "Inter", sans-serif;
}

.product-item:hover {
  box-shadow: 0px 4px 8px rgba(90, 91, 106, 0.2);
  border-radius: 8px;
}

.product-item__image {
  display: block;
  margin: 0 auto 12px;
}

.product-item__description {
  height: 74px;
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 8px;
  color: #19191d;
}

.product-item__sub-description {
  height: 41px;
  margin: 8px 0;
  color: #787885;
}

.product-item__price {
  font-size: 24px;
  font-weight: bold;
  color: #19191d;
}

footer {
  padding: 64px;
  align-items: center;
  background-color: #2264d1;
  font-family: "Inter", sans-serif;
  color: #ffffff;
}

.footer-question,
.footer-copyright {
  opacity: 0.5;
}

.footer-question {
  font-size: 1rem;
}

.footer-slogan {
  margin: 16px;
  font-size: 3rem;
  line-height: 1.5;
  text-align: center;
}

.footer-copyright {
  font-size: 0.85rem;
  text-align: center;
}

@media only screen and (max-width: 1160px) and (min-width: 901px) {
  header > div {
    height: 80px;
  }

  .menu {
    top: 71px;
    left: -10px;
  }

  .product-list {
    grid-template-columns: repeat(3, auto);
  }
}

@media only screen and (max-width: 900px) {
  .wrap-menu {
    order: 1;
    margin-left: 30px;
  }

  .menu {
    top: 71px !important;
    right: 20px !important;
  }

  .nav-sub-container {
    display: none !important;
  }

  .product-action {
    padding: 10px;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  .product-list {
    grid-template-columns: repeat(2, auto);
  }
}

@media only screen and (max-width: 550px) {
  header {
    padding: 20px 10px 20px 20px;
  }

  header h1 {
    display: none;
  }

  header > div > div {
    width: 100%;
  }
  .menu {
    right: 0 !important;
    width: 300px;
  }

  .product-list {
    grid-template-columns: repeat(1, auto);
  }

  .product-control-left {
    flex-wrap: wrap;
    gap: 20px 0;
  }
}
