* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  transition: all 0.4s;
  border: none;
}

*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

li:last-child {
  margin-right: 0 !important;
}

a {
  text-decoration: none;
  cursor: pointer;
}

html {
  font-size: 16px;
  font-family: "Inter", sans-serif;
}

.flex {
  display: flex !important;
}
.hide {
  display: none !important;
}
.fl-row {
  flex-direction: row !important;
}
.fl-col {
  flex-direction: column !important;
}
.fl-space-between {
  display: flex;
  justify-content: space-between !important;
}

.left {
  left: 0 !important;
}

.right {
  right: 0 !important;
}

.fl-center {
  display: flex;
  justify-content: center !important;
  align-items: center !important;
}

.mr-0 {
  margin-right: 0 !important;
}

.mr-20 {
  margin-right: 20px !important;
}

.fl-flex-end {
  justify-content: flex-end;
}

.fl-content-center {
  justify-content: center;
}

.btn {
  padding: 8px 18px;
  border-radius: 4px;
  cursor: pointer;
}

.btn:hover {
  box-shadow: 0px 4px 8px rgba(90, 91, 106, 0.2);
}

.btn-primary {
  background-color: #2264d1;
  color: #ffffff;
}

.btn-primary:hover {
  background-color: #1456be;
}

.btn-flat-primary {
  color: #2264d1;
}

.btn-outline-primary:hover {
  background-color: #2264d1;
  color: #ffffff;
}

.btn-outline-primary {
  font-size: 14px;
  font-weight: 600;
  background: #ffffff;
  border: 1px solid #9dc2ff;
  border-radius: 4px;
  line-height: 1.5;
  color: #2264d1;
}

header {
  border-bottom: 1px solid #b4bbe2;
  margin-bottom: 24px;
  background: #ffffff;
}

.container {
  max-width: 1120px;
  width: 100%;
  margin: 0 auto;
}

.banner-image {
  width: 100%;
}

.wrap-menu {
  position: relative;
}

input.toggle-menu {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 2;
  opacity: 0;
  cursor: pointer;
}

.menu {
  pointer-events: none;
  visibility: hidden;
  opacity: 0;
  display: block;
  position: absolute;
  width: 353px;
  top: 89px;
  right: 20px;
  background: #ffffff;
  box-shadow: 0px 4px 8px rgba(90, 91, 106, 0.2);
  z-index: 3;
}

.nav-item {
  padding: 8px 16px;
  align-items: center;
}

.nav-item:hover {
  box-shadow: inset 0px 4px 8px rgba(90, 91, 106, 0.2);
}

.nav-item div {
  align-items: center;
  padding: 12px 10px;
}

.nav-item img {
  width: 20px;
  margin-right: 24px;
}

.nav-item span {
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.5;
  color: #787885;
}

.nav-item:hover span {
  color: #2264d1;
  font-size: 14px;
}

input.toggle-menu:checked ~ .menu {
  opacity: 1;
  visibility: visible;
  pointer-events: visible;
}

.hamburger {
  margin-right: 20px;
  z-index: 1;
}

.hamburger-line {
  width: 32px;
  height: 3px;
  background-color: #2264d1;
  position: relative;
  border-radius: 2px;
}

.hamburger-line::before,
.hamburger-line::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #2264d1;
  border-radius: 2px;
}

.hamburger-line::before {
  top: -10px;
}

.hamburger-line::after {
  bottom: -10px;
}

input.toggle-menu:checked ~ .hamburger > .hamburger-line {
  transform: rotate(225deg);
}

input.toggle-menu:checked ~ .hamburger > .hamburger-line::before {
  top: 0;
  transform: rotate(270deg);
}

input.toggle-menu:checked ~ .hamburger > .hamburger-line::after {
  top: 0;
}

.search-group {
  position: relative;
  justify-content: center;
  align-items: center;
}

.search-icon {
  position: absolute;
  width: 18px;
  height: 18px;
  margin: 0 13px;
}
.search-icon-clear {
  opacity: 0;
}

.search-input {
  width: 100%;
  max-width: 400px;
  height: 48px;
  border-radius: 100px;
  border: 1px solid #ededf0;
  padding: 0 44px;
  font-size: 20px;
  color: #9696a0;
  background: #ededf0;
}

.search-input:focus {
  box-shadow: 0px 4px 8px rgba(90, 91, 106, 0.2);
  background-color: #ffffff;
}

.search-input:valid ~ .search-icon-clear {
  opacity: 1;
}

.nav-sub li {
  margin-right: 12px;
  font-size: 20px;
  font-family: "Quicksand", sans-serif;
  font-weight: 700;
}

.cart-group > a {
  position: relative;
}

.cart-icon {
  width: 32px;
  height: 32px;
}

.cart-icon + span {
  position: absolute;
  top: -15px;
  right: -8px;
  width: 18px;
  height: 18px;
  background-color: #ef0909;
  border-radius: 50%;
  color: #ffffff;
  font-size: 14px;
  font-weight: 700;
  display: inline-block;
  text-align: center;
}

.section-header {
  margin: 20px 0;
}

section.product {
  margin-top: 20px;
  margin-bottom: 100px;
}

select {
  appearance: none;
  margin-right: 10px;
  padding: 8px 32px 8px 12px;
  border-radius: 4px;
  border: 1px solid #b4b4bb;
  color: #787885;
  font-size: 14px;
  line-height: 1.5;
  cursor: pointer;
}

select:hover {
  color: #19191d;
  border: 1px solid #5a5b6a;
  box-shadow: 0px 4px 8px rgba(90, 91, 106, 0.2);
  font-weight: 400;
}

.select-cus {
  position: relative;
}

.select-cus::after {
  content: attr(data-select-legend);
  position: absolute;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 10px;
  padding: 4px;
  top: 0;
  left: 10px;
  transform: translateY(-50%);
  z-index: 1;
  background: #ffffff;
  letter-spacing: 1.5px;
  color: #787885;
}

.control-right {
  justify-content: center;
  align-items: center;
}

.radio-item {
  position: relative;
}

input[type="radio"] {
  position: absolute;
  right: -10000px;
  width: 0;
  height: 0;
  visibility: hidden;
}

.radio-item > label {
  display: inline-block;
  background: #ebf2ff;
  border-radius: 4px;
  padding: 12px 16px;
  color: #5a5b6a;
  font-size: 14px;
  text-align: center;
  cursor: pointer;
  font-weight: 500;
}

.radio-item label:hover {
  box-shadow: 0px 4px 8px rgba(90, 91, 106, 0.2);
}

input[type="radio"]:checked + label {
  background: #ffffff;
  color: #2264d1;
  box-shadow: 0px 1px 2px rgba(27, 78, 163, 0.24);
}

.view-radio span {
  display: inline-block;
  width: 16px;
  height: 16px;
  position: relative;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.view-radio img {
  width: 16px;
  height: 16px;
}

input#list-view + label > .view-icon {
  background-image: url("../images/icon/list.svg");
}

input#list-view:checked + label > .view-icon {
  background-image: url("../images/icon/list-active.svg");
}

input#grid-view + label > .view-icon {
  background-image: url("../images/icon/grid.svg");
}

input#grid-view:checked + label > .view-icon {
  background-image: url("../images/icon/grid-active.svg");
}

.prd-section .section-body {
  width: 100%;
  max-width: 1160px;
  margin: 0 auto 120px;
  padding: 10px;
}

.list-group {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.list-item {
  flex: 1;
  min-width: 267px;
  padding: 16px 16px 12px 16px;
}

.list-item:hover {
  box-shadow: 0px 4px 8px rgba(90, 91, 106, 0.2);
  border-radius: 8px;
}

.pr-image {
  display: block;
  margin: 0 auto 16px;
}

.prd-name {
  height: 74px;
  font-size: 16px;
  line-height: 1.5;
  color: #19191d;
}

.prd-description {
  height: 41px;
  margin: 16px 0;
  color: #787885;
}

.prd-price {
  margin: 16px 0;
  font-size: 24px;
  font-weight: bold;
  color: #19191d;
  position: relative;
}

.tag::after {
  position: absolute;
  content: attr(data-tag);
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  padding: 4px 6px;
  border-radius: 4px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  display: block;
}

.tag-success::after {
  background: #ecf7ed;
  color: #37833b;
}

.tag-danger::after {
  background: #fdedf2;
  color: #c23564;
}

footer {
  padding: 64px;
  background-color: #2264d1;
  color: #ffffff;
}

footer p {
  opacity: 0.5;
  text-align: center;
  font-size: 1rem;
}

footer h3 {
  margin: 16px;
  font-size: 3rem;
  line-height: 1.5;
  text-align: center;
}

footer p:last-child {
  font-size: 0.85rem;
}

@media only screen and (max-width: 768px) {
  header {
    padding: 20px 10px 20px 20px;
  }

  header h1 {
    display: none;
  }

  header > div > div {
    width: 100%;
  }

  .menu {
    right: 0 !important;
    width: 300px;
  }

  .control-left {
    flex-wrap: wrap;
    gap: 20px 0;
  }
}

@media only screen and (max-width: 1200px) and (min-width: 1025px) {
  header > div {
    height: 80px;
  }

  .menu {
    top: 71px;
    left: -10px;
  }
}

@media only screen and (max-width: 1024px) {
  .wrap-menu {
    order: 1;
    margin-left: 30px;
  }

  .menu {
    top: 71px !important;
    right: 20px !important;
  }

  .nav-sub-container {
    display: none !important;
  }

  .prd-section > .section-header {
    padding: 10px;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
}
