html {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-style: normal;
}

* {
  line-height: 1.5em;
}

body {
  position: relative;
}

img {
  object-fit: cover;
}

.container-fluid {
  max-width: 100%;
}

.container {
  max-width: 1152px;
  margin: 0 auto;
}

.flex {
  display: flex;
}

.fl-row {
  @extend .flex;
  flex-direction: row;
}

.fl-row-rev {
  @extend .flex;
  flex-direction: row-reverse;
}

.fl-column {
  @extend .flex;
  flex-direction: column;
}

.fl-center-x {
  justify-content: center;
}

.fl-center-y {
  align-items: center;
}

.fl-space-between {
  justify-content: space-between;
}

.fl-1 {
  flex: 1;
}

.fl-2 {
  flex: 2;
}

.txt-center {
  text-align: center;
}

.d-xs {
  display: none;
}

.d-lg {
  display: flex;
}

@media only screen and (max-width: map-get($screen-size, "xs")) {
  .container {
    margin: 0 24px;
  }

  .d-xs {
    display: flex;
  }

  .d-lg {
    display: none;
  }
}
