@function to-rem($px) {
  @return #{$px/$size-base}rem; 
}

@mixin to-rem-prop($property, $top: 0, $right: 0, $bottom:0, $left: 0) {
  #{$property}: to-rem($top) to-rem($right) to-rem($bottom) to-rem($left);
}

@mixin text-style($font-size, $font-weight) {
  font-size: to-rem($font-size);
  font-weight: $font-weight;
}

@mixin create-media-query($break-point) {
  @if ($break-point == "") {
    @content;
  } @else {
    @media only screen and(max-width: $break-point) {
      @content;
    }
  }
}

@mixin create-col-classes($size, $column, $break-point, $gutter-x, $gutter-y) {
  @include create-media-query($break-point) {
    @for $i from 1 through $column {
      @if ($break-point == "") {
        .col-#{$i} {
          width: percentage($i / $column);
          padding: to-rem(map-get($gutter-y, $size) /
            2)
            to-rem(map-get($gutter-x, $size) /
            2);
        }
      } @else {
        .col-#{$size}-#{$i} {
          width: percentage($i / $column);
          padding: to-rem(map-get($gutter-y, $size) /
            2)
            to-rem(map-get($gutter-x, $size) /
            2);
        }
      }
    }
  }
}

@mixin build-grid($column, $screen-size, $gutter-x, $gutter-y) {
  @each $size, $break-point in $screen-size {
    @include create-col-classes(
      $size,
      $column,
      $break-point,
      $gutter-x,
      $gutter-y
    );
  }
}
