$font-size-btn: 13px;

$font-size-xs: 12px;
$font-size-sm: 14px;
$font-size-md: 16px;
$font-size-lg: 18px;
$font-size-xl: 20px;
$font-size-xxl: 24px;
$font-size-xxxl: 32px;
$font-size-max: 72px;
/*font-weight*/

$weight-light: 300;
$weight-regular: 400;
$weight-bold: 700;

$color-sale: #ff0000;
$color-yellow-primary: #fbb03b;
$color-yellow-secondary: #fff3df;
$color-white: #ffffff;
$color-black-primary: #000000;
$color-black-secondary: #333333;
