footer {
  background-color: map-get($color, "primary");
  .section-body {
    padding: 40px 0 52px;
  }
  .section-footer {
    padding: 24px 0;
    border-top: 1px solid map-get($color, "white");
    p {
      @include text-style(map-get($font-size, "xs"), $weight-regular);
      margin: auto 0;
      color: map-get($color, "white");
    }
  }
}

.body-left {
  max-width: 375px;
  .footer-logo {
    width: 138px;
    height: 35px;
  }
  .footer-title {
    @include text-style(map-get($font-size, "sm"), $weight-light);
    margin: 24px 0 56px;
    color: map-get($color, "white");
  }
}

.social-item {
  margin-right: 32px;
  .social-icon {
    width: 18px;
    height: 18px;
    object-fit: fill;
  }
}

.nav-group {
  gap: 90px;
  .nav-item {
    .nav-item-title {
      @include text-style(map-get($font-size, "md"), $weight-bold);
      margin-bottom: 20px;
      color: map-get($color, "white");
    }
    li {
      margin-bottom: 16px;
      p {
        @include text-style(map-get($font-size, "xs"), $weight-regular);
        color: map-get($color, "white");
      }
    }
  }
}

@media only screen and (max-width: map-get($screen-size, "xs")) {
  footer {
    .section-body {
      flex-direction: column;
      padding-bottom: 40px;
    }
    .body-left {
      .footer-title {
        margin: 24px 0 48px;
      }
    }
    .footer-social {
      display: none;
    }
    .nav-group {
      gap: 24px;
      flex-direction: column;
      .nav-item {
        .nav-item-title {
          @include text-style(map-get($font-size, "md"), $weight-bold);
          margin-bottom: 20px;
          color: map-get($color, "white");
        }
        li {
          margin-bottom: 16px;
          p {
            @include text-style(map-get($font-size, "xs"), $weight-regular);
            color: map-get($color, "white");
          }
        }
      }
    }
  }
}
