footer {
  background-color: map-get($color, "primary");
  .section-body {
    @include to-rem-prop(padding, 40, 0, 52, 0);
  }
  .section-footer {
    padding: to-rem(24) 0;
    border-top: 1px solid map-get($color, "white");
    p {
      @include text-style(map-get($font-size, "xs"), $weight-regular);
      margin: auto 0;
      color: map-get($color, "white");
    }
  }
}

.body-left {
  max-width: to-rem(375);
  .footer-logo {
    width: to-rem(138);
    height: to-rem(35);
  }
  .footer-title {
    @include text-style(map-get($font-size, "sm"), $weight-light);
    @include to-rem-prop(margin, 24, 0, 56, 0);
    color: map-get($color, "white");
  }
}

.social-item {
  margin-right: to-rem(32);
  .social-icon {
    width: to-rem(18);
    height: to-rem(18);
    object-fit: fill;
  }
}

.nav-group {
  gap: to-rem(90);
  .nav-item {
    .nav-item-title {
      @include text-style(map-get($font-size, "md"), $weight-bold);
      margin-bottom: to-rem(20);
      color: map-get($color, "white");
    }
    li {
      margin-bottom: to-rem(16);
      p {
        @include text-style(map-get($font-size, "xs"), $weight-regular);
        color: map-get($color, "white");
      }
    }
  }
}

@media only screen and (max-width: map-get($screen-size, "xs")) {
  footer {
    .section-body {
      flex-direction: column;
      padding-bottom: to-rem(40);
    }
    .body-left {
      .footer-title {
        @include to-rem-prop(margin, 24, 0, 48, 0);
      }
    }
    .footer-social {
      display: none;
    }
    .nav-group {
      gap: to-rem(24);
      flex-direction: column;
      .nav-item {
        .nav-item-title {
          @include text-style(map-get($font-size, "md"), $weight-bold);
          margin-bottom: to-rem(20);
          color: map-get($color, "white");
        }
        li {
          margin-bottom: to-rem(16);
          p {
            @include text-style(map-get($font-size, "xs"), $weight-regular);
            color: map-get($color, "white");
          }
        }
      }
    }
  }
}
