header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  padding: 55px 0;
  background: transparent;
  .logo-image {
    width: 139px;
    height: 35px;
  }
  .nav-main {
    .nav-item {
      margin-right: 96px;
      .nav-link {
        @include text-style(map-get($font-size, "lg"), $weight-bold);
        padding: 4px 8px;
        color: map-get($color, "primary");
      }
    }
    .nav-item:last-child {
      margin-right: 0;
    }
  }
  .nav-sub {
    .nav-item {
      margin-right: 24px;
      .nav-link {
        padding: 4px;
      }
      .nav-icon {
        width: 24px;
        height: 24px;
      }
    }
  }
}

@media only screen and (max-width: map-get($screen-size, "xs" )) {
  header {
    display: block;
    position: sticky;
    padding: 20px 0;
    background: map-get($color, "white");
    .logo-image {
      width: 128px;
      height: 32px;
    }
    li {
      display: flex;
      justify-content: center;
      align-items: center;
    }
    a {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .header-sm {
      display: flex;
    }
    .nav-sub {
      .nav-item {
        cursor: pointer;
        .nav-link {
          padding: 0px;
        }
        .nav-icon {
          width: 20px;
          height: 20px;
        }
      }
    }
  }
}
