.section-newsletter {
  width: 100%;
  height: 240px;
  .overlap {
    padding: 85px 0;
    background: linear-gradient(
      270deg,
      rgba(0, 0, 0, 0.3) 33.28%,
      rgba(0, 0, 0, 0.7) 94.05%
    );
  }
  .section-header {
    .section-title {
      @include styleText($font-size-xxl, $weight-regular);
      color: $color-white;
    }
  }

  .section-body {
    input {
      padding: 14px 24px;
      width: 350px;
      @include styleText($font-size-btn, $weight-regular);
      border-radius: 60px;
      color: #ababab;
      background-color: $color-white;
      &::placeholder {
        color: #ababab;
      }
    }
  }
}
