.section-selected {
  padding: 40px 0 40px;
  .section-header {
    margin: 20px 0 40px;
    .section-title {
      @include styleText($font-size-xxxl, $weight-light);
    }
    a {
      padding: 15px 30px;
      @include styleText($font-size-btn, $weight-bold);
      color: $color-black-secondary;
      background-color: $color-white;
      border: 1px solid #c4c4c4;
      border-radius: 33px;
    }
  }
  .section-body {
    .list-group {
      gap: 20px;
    }
  }
}
