.section-selected {
  padding: 40px 0 40px;
  .section-header {
    margin: 20px 0 40px;
    .section-title {
      @include styleText($font-size-xxxl, $weight-light);
    }
  }
  .section-body {
    .list-group {
      gap: 20px;
    }
  }
}
