.section-banner {
  position: relative;
  width: 100%;
  height: 800px;
  z-index: 1;

  .overlap {
    background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.8) 0%,
      rgba(0, 0, 0, 0.5) 100%
    );
  }

  .section-body {
    margin: 222px 96px;

    .section-title {
      margin-bottom: 24px;
      max-width: 403px;
      @include styleText($font-size-max, $weight-bold);
      line-height: 73px;
      color: $color-white;
      .highlight {
        color: $color-yellow-primary;
      }
    }

    .section-link {
      .btn-cir {
        position: relative;
        width: 36px;
        height: 36px;
        border-radius: 50%;
        background-color: $color-yellow-primary;
        margin-right: 21px;
        img {
          width: 17px;
          height: 14px;
        }
      }
      span {
        @include styleText($font-size-xxl, $weight-bold);
        text-decoration: underline;
        color: $color-white;
      }
    }
  }
  .section-footer {
    position: absolute;
    padding: 38px 0 26px;
    width: 100%;
    bottom: 0;
    right: calc(50% - 576px + 196px);
    background: $color-white;
    border-radius: 0px 70px 0px 0px;
  }
}

.spotlight-group {
  margin-right: 100px;
  gap: 50px;
}

.spotlight {
  gap: 16px;
  .spotlight-icon {
    width: 36px;
    height: 36px;
    margin-bottom: 6px;
    background: $color-yellow-secondary;
    border-radius: 10px;
    img {
      width: 16px;
      height: 16px;
    }
  }
  .spotlight-body {
    max-width: 179px;
    .spotlight-name {
      margin-bottom: 4px;
      @include styleText($font-size-sm, $weight-bold);
      color: $color-black-secondary;
    }
    .spotlight-description {
      padding-right: 1px;
      @include styleText($font-size-xs, $weight-regular);
      color: #a8a8a8;
    }
  }
}
