.section-today {
  padding: 40px 0;
  .section-header {
    margin-bottom: 40px;
    .section-title {
      @include styleText($font-size-xxxl, $weight-light);
      text-align: center;
    }
  }
  .section-body {
    .list-group {
      gap: 20px;
    }
  }
}
