// Cart Section
.cart-section {
  min-height: to-rem(600);
  padding: to-rem(24);
  background: map-get($color, "gray-a");
  .section-header {
    .section-title {
      @include text-style(map-get($font-size, "3xl"), $weight-light);
    }
  }
  .section-body {
    .section-body-left {
      .cart-product-group {
        padding: to-rem(20);
        background: map-get($color, "white");
        border-radius: to-rem(4);
        .cart-product-item {
          padding: to-rem(20);
          margin-bottom: to-rem(20);
          box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2);
          border-radius: to-rem(4);
        }
      }
    }
    .section-body-right {
      .cart-total-price {
        margin-bottom: to-rem(24);
        padding: to-rem(20);
        background: map-get($color, "white");
        border-radius: to-rem(4);
        .total-price-txt{
          @include text-style(map-get($font-size, "2xl"), $weight-bold);
          margin-bottom: to-rem(16);
        }
        .total-price {
          @include text-style(map-get($font-size, "3xl"), $weight-regular);
          text-align: right;
        }
      }
      button {
        @include text-style(map-get($font-size, "lg"), $weight-bold);
        display: block;
        width: 100%;
        border-radius: 4px;
      }
    }
  }
}
